# encoding: utf-8
EXTENSIONS = ['rst2pdf', 'uploads']
MARKUP = 'restructuredtext'
PRIVATE = True
TITLE = 'Yatel Wiki'
THEME = 'yatel'

# please change
SECRET_KEY = "saknfdlasdhfnseert565876iik0=/(/(%$%#%""#00ljsdsfnjsdnf89"
CONTENT_DIR = "/home/juan/proyectos/yatel_wiki/content"
